<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/globals.css" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
      <h1>Full Menu</h1>
      <% menuId.forEach(item=> {%>
        <li>
          <%= item.name %> <br>
            Price: <%= item.price %> <br>
              Rating: <%= item.rating %> <br>
                Description: <%= item.details %>
        </li><br>
        </a>
        <%}) %>
  </body>
</html>